page-home {

    .forum{
        text-align: center;
    }
    .master{
        background: rgb(77, 77, 77);
    }
    .card-md{
        border-radius: 3.5rem;
        background-color: rgb(33, 150, 243);
    }
    .deets{
        background-color: lightslategray;
        color: white;
        border-radius: 4rem;
    }
    .question-type{
        font-weight: 1000;
        color: white;
    }
    .question{
        font-weight: 800;
        color: white;
    }
    .vote{
        padding: 0;
        color: white;
    }   
    .sh-ans{
        color: white;
    }
    .share{
        color: white !important;    
        font-size: large;
        
    }
    .edits{
        color: white;
        display: inline-block;
        font-weight: inherit;
        min-height: 36px;
        font-size: 17px;
        vertical-align: -6px;
    }
    .fab-close-icon{
        color: white;
        opacity: 100 !important;
        font-size: 50px;
    }
    .search{
        float: right;
        color: black !important;
        font-size: 20px;
        padding: 0;
        padding-left: 15px;
    }
    #forum{
        float:left;
        color: black;
        font-size: 18px;
        font-weight: 400;
    }
}
