<ion-header>
  <ion-navbar>
    <ion-title item-center class="forum">
      <button ion-button clear id="forum">Forum</button>
      <button ion-button clear class="search" (click)="Filter()"><ion-icon name="ios-funnel-outline"></ion-icon></button>
      <button ion-button clear class="search" (click)="Search()"><ion-icon name="search"></ion-icon></button>
    </ion-title>
    <ion-item *ngIf="csearch" style="background-color: transparent;">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> 
  </ion-item>
  </ion-navbar>
</ion-header>

<ion-content class="master">

<div *ngFor="let detail of details; let i= index" >
  
<ion-card>

  <ion-item class="deets" (click)="Details(i)">
  
    <ion-avatar item-start>
        <img src="assets/imgs/images.png">
    </ion-avatar>

    <h2 style="color: white;">{{detail.name}}</h2>

    <p style="color: wheat;">{{detail.date}} &nbsp; {{detail.time}}</p>

  </ion-item>

  <br>

    <ion-card-content>
      <div class="question-type" (click)="Details(i)">
        {{detail.qtype}}
      </div>
      
      <div class="question" (click)="Details(i)">
        Q: {{detail.question}}
      </div>

      <div class="sh-ans" (click)="Details(i)">
        {{detail.description}}
      </div>


      <div style="text-align: center; ">

        <span>
          <button ion-button clear class="vote" (click)="inc(i)">
            <ion-icon name="arrow-round-up"></ion-icon>
            &ensp;&ensp;{{detail.upvotes - detail.downvotes}}
          </button>
      </span>

      &ensp;

      <span>
        <button ion-button clear class="vote" (click)="dec(i)">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </span>

        <button ion-button clear class="share" (click)="Share()">
          <ion-icon name="share"></ion-icon>
        </button> 

        <div class="edits">
          {{detail.answers}}
          <ion-icon name="md-create"></ion-icon>
        </div>
      </div>
    </ion-card-content>
</ion-card>
</div>

<ion-fab right bottom>
  <button ion-fab (click)="AddPage()"><ion-icon name="add-outline" id="addbutton"></ion-icon></button>
</ion-fab>
</ion-content>