page-details {
    .master{
        background: rgb(77, 77, 77);
    }
    
    .deet{
        background-color: transparent;
    }
    .label-md {
        margin: 12px 8px 13px 0;
    }
    .question{
        font-size: 1.8rem;
        font-weight: bold;;
        color: white;
        display:block;
    }
    .card-md{
        border-radius: 6px;
        border-bottom-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        background-color: cornflowerblue;
    }
    .deets{
        background-color: lightslategray;
        color: white;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
    .description{
        display: block;
        color: white;
        
    }
    .vote{
        padding: 0;
        color: white;
    }   
    .comment{
        position: relative;
        bottom: 0px;
        padding: 10px;
        padding-right: 65px;
    }
    .textbox{
        border-radius: 5px !important;
    }
}